.bg-indigo {
  --bs-bg-opacity: 1;
  --bs-indigo-rgb: 102, 126, 234; /* #6633CC */
  background-color: rgba(var(--bs-indigo-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-gradient {
  --bs-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-image: var(--bs-gradient);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgba(
    var(--bs-indigo-rgb),
    var(--bs-bg-opacity)
  );
  /* --bs-dropdown-link-active-color: #fff; */
}

.card-hover {
  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

.card-hover:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4) !important;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
    width: 5%;
}