.bg-indigo {
  --bs-bg-opacity: 1;
  --bs-indigo-rgb: 102, 126, 234; /* #6633CC */
  background-color: rgba(var(--bs-indigo-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo-gradient {
  --bs-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-image: var(--bs-gradient);
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgba(
    var(--bs-indigo-rgb),
    var(--bs-bg-opacity)
  );
  /* --bs-dropdown-link-active-color: #fff; */
}

.card-hover {
    transition: transform .18s ease, box-shadow .18s ease;
    cursor: pointer;
    will-change: transform, box-shadow;
}

.card-hover:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.16);
}

/* .navbar .card-hover:hover,
.card.card-hover:hover {
    transform: translateY(-6px);
} */